version: "3.7"

services:
  voicechat:
    image: {{ ts_container_name }}
    deploy:
      restart_policy:
        condition: {{ docker_ts_container_restart_policy }}
        delay: 5s
        max_attempts: 3
        window: 120s

    ports:
      {% if docker_ts_expose_port_service -%}
      - "{{ docker_ts_expose_port_service }}:9987/udp"
      {% endif -%}
      {% if docker_ts_expose_port_filetransfer -%}
      - "{{ docker_ts_expose_port_filetransfer }}:30033"
      {% endif -%}
      {% if docker_ts_expose_port_server_query -%}
      - "{{ docker_ts_expose_port_server_query }}:10011"
      {% endif -%}
      {% if docker_ts_expose_port_server_query_secured -%}
      - "{{ docker_ts_expose_port_server_query_secured }}:10022"
      {% endif -%}
      {% if docker_ts_expose_port_service -%}
      - "{{ docker_ts_expose_port_tsdns }}:41144"
      {% endif %}

    volumes:
      - /etc/localtime:/etc/locatime:ro
      - /etc/timezone:/etc/timezone:ro
      - {{ ts_database_local_path }}:/opt/teamspeak3/teamspeak3-server_linux_amd64/ts3server.sqlitedb
      {% if docker_ts_additional_volumes -%}
      {% for item in docker_ts_additional_volumes %}
      - {{ item }}
      {% endfor -%}
      {% endif -%}